/* General styles */
html, body {
    overflow: clip;
    height: 100%;
    margin: 0;
    padding: 0;
}

.border-widget {
    border-radius: 0.375rem;
    border: 1px solid #babfc7;
}

.dash-textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;
    scrollbar-gutter: stable;
}

.dash-loading {
    opacity: 0.5;
}

/* Header styles */
#header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

/* Tab styles */
.tab-content {
    height: 100%;
    display: contents;
}

.tab-parent {
    height: 100%;
}

.radio-buttons {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: inline;
}

#left-tab-radio-buttons {
    margin-left: 16px;
}

/* Main container */
#container {
    height: 100vh;
    padding: 65px 100px;
}

/* Main column layout */
.main-col {
    height: 100%;
    padding: 0;
}

.top-row {
    height: 70%;
}

.bottom-row {
    height: 30%;
}

.stretchy-widget {
    width: 100%;
    height: 100%;
}

/* Plotly legend toggle */
/* .legendtoggle {
    display: none;
}

.legendtext {
    cursor: default;
} */

/* Prompt engineering widget styles */
.pe-button {
    width: 100%;
    min-width: 150px;
    padding: 5px;
    margin: 15px 0 15px 0;
}

.label {
    font-weight: bold;
    font-size: 18px;
}

#prompt-score {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

#prompt-input {
    height: 150px;
}

#answer-input {
    height: 150px;
}

#main-chart {
    width: 500px;
    height: 500px;
    resize: none;
    padding: 10px;
    scrollbar-gutter: stable;
    color: gray;
    font-size: 16px;
}

#main-chart-container {
    width: 500px;
    height: 500px;
    resize: none;
    padding: 10px;
    scrollbar-gutter: stable;
    color: gray;
    font-size: 16px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
}

#suggestions-container {
    height: 450px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.suggestion-score {
    font-weight: bold;
    margin: 10px;
}

.suggestion-button {
    margin: 5px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #F9F9F9;
    width: 100%;
    display: flex;
    align-items: center;
}

.suggestion-chart {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.suggestion-chart-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.suggestion-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #F9F9F9;
}

/* History widget styles */
.history-container {
    height: 500px;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    scrollbar-gutter: stable;
}

.history-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.history-entry-content {
    flex: 1;
    padding: 10px;
}

.history-chart {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-prompt {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    height: 100%;
}

#clear-history-button, #restore-history-button {
    margin-bottom: 30px
}

.history-button {
    margin-top: 20px;
    border-radius: 10px;
}

.history-error {
    color: red;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgrey;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* ToDo: fix scrollbar on history page */
